<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.juranoaa.eventbindingsample" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.juranoaa.eventbindingsample.AAMainActivity_"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.juranoaa.eventbindingsample.AAClickSampleActivity_"
            android:label="AAClickSampleActivity" >
        </activity>
        <activity
            android:name="com.juranoaa.eventbindingsample.ClickSampleActivity"
            android:label="ClickSampleActivity" >
        </activity>
        <activity
            android:name="com.juranoaa.eventbindingsample.AALongClickSampleActivity_"
            android:label="AALongClickSampleActivity">
        </activity>
        <activity
            android:name="com.juranoaa.eventbindingsample.LongClickSampleActivity"
            android:label="LongClickSampleActivity">
        </activity>
        <activity
            android:name="com.juranoaa.eventbindingsample.AATouchSampleActivity_"
            android:label="AATouchSampleActivity">
        </activity>
        <activity
            android:name="com.juranoaa.eventbindingsample.TouchSampleActivity"
            android:label="TouchSampleActivity">
        </activity>
        <activity
            android:name=".AAItemClickSampleActivity_"
            android:label="AAItemClickActivity">
        </activity>
        <activity
            android:name="com.juranoaa.eventbindingsample.ItemClickSampleActivity"
            android:label="ItemClickSampleActivity">
        </activity>
        <activity
            android:name="com.juranoaa.eventbindingsample.AAItemSelectSampleActivity_"
            android:label="AAItemSelectSampleActivity">
        </activity>
        <activity
            android:name="com.juranoaa.eventbindingsample.ItemSelectSampleActivity"
            android:label="AAItemSelectSampleActivity">
        </activity>
    </application>

</manifest>
